h1 {
    color: blue;
    background-color: yellow;
    text-align: center;
}
*{
    background-color: rgb(145, 255, 0);
    text-align: center;
}
button{
    background-color: greenyellow;
    text-emphasis-color: white;
}
h4{
    background-color: yellow;
    font-style: oblique;
}
h2{
    background-color: rgb(212, 255, 0);
    font-size: large;
    text-align: center;
    
}
.struct{
    background-color: yellow;
    font-size: larger;
    text-align: end;
}